header {
  min-height: 10vh;
  background-color: #777;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-links li {
  margin-left: 40px;
}

.nav-links a {
  color: #fff !important;
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}